<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

        <center>
            <h1>Inventory Home Page</h1>
        </center>
            <form>
                <table border="1">

                    <tr>
                        <th>Nro de Identificacion</th>
                        <th>Nro de Serie</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Tipo</th>
                        <th>Departamento</th>
                        <th>Fecha</th>
                        <th>Nombre</th>
                        <th>Apellido</th>

                    </tr>
                </table>
            </form>

        <center>



        </center>

</body>
</html>